*.err.meta
*.exvim
*.exvim.meta
*.vimentry
*.vimentry.meta
*.vimproject
*.vimproject.meta
.vimfiles.*/
.exvim.*/
quick_gen_project_*_autogen.bat
quick_gen_project_*_autogen.bat.meta
quick_gen_project_*_autogen.sh
quick_gen_project_*_autogen.sh.meta
.exvim.app

#/////////////////////////////////////////////////////////////////////////////
# webstorm files
#/////////////////////////////////////////////////////////////////////////////

.idea/

#//////////////////////////
# VS Code
#//////////////////////////
!guide-res/*
.vscode/
# 不忽略 core 目录
!core/
# 不忽略 core/ui 目录
!core/ui/
# 忽略所有 .meta 文件
*.meta
# 但不忽略 core/ui 目录下的 .ts.meta 文件
!core/ui/mvvm/*.ts.meta
!core/ui/components/*.ts.meta
!core/utils/tween/bezier/**/*.ts.meta
!core/guide/**/*.meta

!LongTouchComponent.ts.meta
!EntityLink.ts.meta
!canvas-adapter.ts.meta
!GPRoundBoxSprite.ts.meta
!popup-action.ts.meta